<header>
  <img src="assets/Image/logo.jpg" alt="">
  <nav class="navbar">
  <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
  <a routerLink="/Charity"><i class="fa fa-heartbeat" aria-hidden="true"></i>Charity</a>
  <a routerLink="/About"><i class="fa fa-angle-double-right" aria-hidden="true"></i>About us</a>
  <a routerLink="/Contact"><i class="fa fa-phone" aria-hidden="true"></i>Contact us</a>
  <a routerLink="/Login"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Login</a>
  </nav>
</header>