<footer>
  <div class="foot">
    <div class="content">
      <div class="box">
        <h2><span>Quick</span> Links</h2>
        <a routerLink="Home"> <i class="fa fa-angle-double-right"></i>  Home</a>
        <a routerLink="Charity"> <i class="fa fa-angle-double-right"></i>  Charity</a>
        <a routerLink="Contact"> <i class="fa fa-angle-double-right"></i>  Contact us</a>
        <a routerLink="Login"> <i class="fa fa-angle-double-right"></i>  Login</a>
      </div>
      <div class="box">
        <h2><span>Contact</span> Info</h2>
        <a routerLink="#"> <i class="fa fa-phone" aria-hidden="true"></i>  +91 9344800721</a>
        <a routerLink="#"> <i class="fa fa-phone" aria-hidden="true"></i>  +111-222-3333</a>
        <a routerLink="#"> <i class="fa fa-envelope" aria-hidden="true"></i>  charityservices@gmail.com</a>
        <a routerLink="#"> <i class="fa fa-map-marker"></i>  Chennai,India-678 001</a>
      </div>
      <div class="box">
        <h2><span>Follow</span> us</h2>
        <a routerLink="#"> <i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a>
        <a routerLink="#"> <i class="fa fa-twitter"></i>  Twitter</a>
        <a routerLink="#"> <i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a>
        <a routerLink="#"> <i class="fa fa-linkedin" aria-hidden="true"></i>  LinkedIn</a>
      </div>
      <div class="box">
        <form action="">
          <h2><span>Chat</span> Here</h2>
          <div class="form">
          <input type="email" name="email" placeholder="Email" required><br>
          <input type="message" name="message" placeholder="Write Here.." style="height: 80px;" required>
          <button onclick="message()">Send</button>
          </div>
        </form>
      </div>
    </div>
    <div class="copy">
      copyright <i class="fa fa-copyright" aria-hidden="true"></i> | All rights reserved | Developed by Shreemathi R N
    </div>
  </div>
</footer>