<form> 
  <div class="form">
    <h2>CHANGE YOUR PASSWORD</h2>
    <h1><i class="fa fa-heartbeat"></i> CHARITY MILES</h1>
    <input type="password" formControlName="password" placeholder="New Password">
    <div *ngIf="forgot.controls['password'].invalid && (forgot.controls['password'].dirty || forgot.controls['password'].touched)">
      <div class="error" *ngIf="forgot.controls['password'].errors?.['required']">Enter Password</div>
      <div class="error" *ngIf="forgot.controls['password'].errors?.['pattern']">8 character with 1 uppercase,1 lowercase,1 number,1 special symbol</div>
    </div><br>
    <input type="password" formControlName="cpass" placeholder="New Confirm Password">
    <div *ngIf="forgot.controls['cpass'].invalid && (forgot.controls['cpass'].dirty || forgot.controls['cpass'].touched)">
      <div class="error" *ngIf="forgot.controls['cpass'].errors?.['required']">Confirm your password</div>
      <div class="error" *ngIf="forgot.controls['cpass'].errors?.['Confirmpassword']">Password doesn't match</div>
    </div><br>
  <button class="btn">Change Password</button>
  </div>
</form>