<app-Adminheader></app-Adminheader>
<app-AdminProfile></app-AdminProfile>
<div class="content">
    <div class="heading">
        <h1><i class="fa fa-dollar"></i>  Payment Received</h1>
        <h3>DONATION</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Donation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pay of payment">
                    <td>{{pay.uname}}</td>
                    <td>{{pay.Rs}}</td>
                </tr>
            </tbody>
        </table>
</div>