<p>
  rating works!
</p>
<div id="panel" class="panel-container">
  <strong>How satisfied with our services <br /> Give us star rating for our services </strong>
  <div class="ratings-container">
    <div class="rating">
      <i class="fa fa-star"></i><br>
      <small>1</small>
    </div>
    <div class="rating">
      <i class="fa fa-star"></i>
      <small>2</small>
    </div>
    <div class="rating">
      <i class="fa fa-star"></i>
      <small>3</small>
    </div>
    <div class="rating">
      <i class="fa fa-star"></i>
      <small>4</small>
    </div>
    <div class="rating active">
      <i class="fa fa-star"></i>
      <small>5</small>
    </div>
  </div>
  <button class="btn" id="send">Send Review</button>
</div>