<app-Header></app-Header>
<section>
  <div class="about" id="about">
      <h1 class="heading">ABOUT <span> US</span></h1>
      <div class="row">
          <div class="image">
              <img src="assets/Image/about2.png" alt="">
          </div>
          <div class="content">
              <h4>It's not how much we give,but how much love we put into giving</h4>
              <p>Charity Miles refers to raise funds and manage users, majorly the non-profit 
                  sector in any industry. Eliminating the root problems of Food, Education and 
                  Medical expenses. We are here to do services for poor people and also for 
                  orphange peoples by providing money, foods, clothes, education and medical 
                  expenses.We also give education for poor childern and do medical expenses for old peoples.</p>
                  <div class="qoute">
                      <p>Let us join hands for good things and keep Donating.....</p>
                  </div>
          </div>
      </div>
  </div>
</section>
<app-Footer></app-Footer>