<app-Header></app-Header>
<section>
  <div class="about" id="about">
      <h1 class="heading">ABOUT <span> US</span></h1>
      <div class="row">
          <div class="image">
              <img src="assets/Image/about2.png" alt="">
          </div>
          <div class="content">
              <h4>It's not how much we give,but how much love we put into giving</h4>
              <p>Charity Miles refers to raise funds and manage users, majorly the 
                non-profit sector in any industry. Eliminating the root problems of
                Food, Education and Medical expenses. We are here to do services for 
                poor people and also for orphange peoples by providing money, foods, 
                clothes, education and medical expenses.We also give education for
                poor childern and do medical expenses for old peoples.</p>
                  <div class="qoute">
                      <p>Let us join hands for good things and keep Donating.....</p>
                  </div>
          </div>
      </div>
  </div>
</section>
<section class="review" id="review">
    <h1 class="heading">CLIENT'S<span> REVIEW</span> </h1>
    <div class="box-container">
        <div class="box">
            <img src="assets/Image/users.png" alt="">
            <h3>john</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p class="text">Your Service is very useful for us. 
                By your help we get statisfied and lead our lives happy.
                Keep doing this service forever</p>
        </div>
        <div class="box">
            <img src="assets/Image/users.png" alt="">
            <h3>Shyam</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
            <p class="text">Thank you for your help. 
                We are very much happy by your food donating process.
                This food are healthy and tasty.
            </p>
        </div>
        <div class="box">
            <img src="assets/Image/users.png" alt="">
            <h3>Helana</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p class="text">By your services we are very inspired.
                We like to join in this charity to do services.
                What is the procedure to join in your charity membership.
            </p>
        </div>
    </div>
</section>
<app-Footer></app-Footer>