/*.container .content{
    display: flex;
    overflow: hidden;
    box-shadow: 20px 20px 60px gray;
    position: relative;
    width: 800px;
  }
  .container .content .overlay{
    position: relative;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .container .content .overlay img{
    width: 400px;
    height: 400px;
  }
  .overlay i{
    color: mediumslateblue;
    font-size: 20px;
  }
  .overlay a{
    text-decoration: none;
    font-size: 20px;
    color: mediumslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .overlay a:hover{
    color: gray;
  }*/

.container{
  padding-top: 120px;
}  
.container .content{
  display: flex;
  overflow: hidden;
  position: fixed;
  width: 800px;
}
.overlay img{
  padding-top: 10px;
  width: 75%;
  height: 75%;
}
.overlay i{
  color: mediumslateblue;
  font-size: 20px;
}
.overlay a{
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: mediumslateblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlay a:hover{
  color: gray;
}
.display li{
  list-style: none;
}
.display{
  position: fixed;
  margin-left: 590px;
}
.display select{
  width: 60%;
  padding: 5px;
  border: 1.5px solid mediumslateblue;
}
.display option{
  width: 30%;
}
.display ul{
  width: 120%;
}
.display span{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 5px;
  text-align: center;
}
.display span i{
  color: mediumslateblue;
  font-size: 17px;
}
.btn{
  text-decoration: none;
  font-size: 18px;
  color: black;
  border: 2px solid mediumslateblue;
  padding: 2.5px;
  border-radius: 1px;
}
.btn span{
  color: mediumslateblue;
}
.btn:hover{
  background-color: lightsteelblue;
  color: black;
}
.btn:hover span{
  color: black;
}