
<app-Header></app-Header>
<section>
  <div class="container">
      <div class="pay">
          <div class="overlay">
              <!--<div *ngFor="let log of user">
                <h1>{{log.uname}}</h1>
              </div>-->
              <i class="fa fa-arrow-circle-o-left"><a routerLink="/Membership"> Back</a></i>
              <div *ngFor="let p of pmember">
                <img src="assets/Image/platinum.png" alt=""><br>
                <h3>Membership Type: {{p.head}}</h3>
                <h3>Price          : <i class="fa fa-dollar"></i> {{p.amount}}</h3>
                <h3>Validity       : {{p.validity}}</h3> 
              </div>
          </div>
          <form [formGroup]="platinumpayment" (ngSubmit)="paymentdata(platinumpayment)">
              <div class="form">
              <h1> MAKE DONATION HERE <i class="fa fa-arrow-circle-o-down"></i></h1>
             <!-- <h2>{{eventdate}}</h2>
              <h2>{{eventname}}</h2>-->
              <span>Cards Accepted Here</span>
              <img src="assets/Image/pay img.png" alt="">
              <input type="text" formControlName="Rs" placeholder="Enter Amount">
              <div *ngIf="platinumpayment.controls['Rs'].invalid && (platinumpayment.controls['Rs'].dirty || platinumpayment.controls['uname'].touched)">
                  <div class="error" *ngIf="platinumpayment.controls['Rs'].errors?.['required']">Enter Amount</div>
                  <div class="error" *ngIf="platinumpayment.controls['Rs'].errors?.['pattern']">Enter a valid amount</div>
              </div>
              <input type="text" formControlName="uname" placeholder="CardHolder Name">
              <div *ngIf="platinumpayment.controls['uname'].invalid && (platinumpayment.controls['uname'].dirty || platinumpayment.controls['uname'].touched)">
                  <div class="error" *ngIf="platinumpayment.controls['uname'].errors?.['required']">Enter CardHolder Name</div>
                  <div class="error" *ngIf="platinumpayment.controls['uname'].errors?.['pattern']">Enter a valid Name</div>
              </div>
              <input type="text" formControlName="cardno" placeholder="Card Number">
              <div *ngIf="platinumpayment.controls['cardno'].invalid && (platinumpayment.controls['cardno'].dirty || platinumpayment.controls['cardno'].touched)">
                  <div class="error" *ngIf="platinumpayment.controls['cardno'].errors?.['required']">Enter Card Number</div>
                  <div class="error" *ngIf="platinumpayment.controls['cardno'].errors?.['pattern']">Enter a valid Card No</div>
              </div>
              <input type="text" formControlName="exp" placeholder="MM/YYYY">
              <div *ngIf="platinumpayment.controls['exp'].invalid && (platinumpayment.controls['exp'].dirty || platinumpayment.controls['exp'].touched)">
                  <div class="error" *ngIf="platinumpayment.controls['exp'].errors?.['required']">Enter exp month and year</div>
                  <div class="error" *ngIf="platinumpayment.controls['exp'].errors?.['pattern']">Enter a valid exp month and year</div>
              </div>
              <input type="text" formControlName="cvv" placeholder="CVV">
              <div *ngIf="platinumpayment.controls['cvv'].invalid && (platinumpayment.controls['cvv'].dirty || platinumpayment.controls['cvv'].touched)">
                  <div class="error" *ngIf="platinumpayment.controls['cvv'].errors?.['required']">Enter CVV</div>
                  <div class="error" *ngIf="platinumpayment.controls['cvv'].errors?.['pattern']">Enter a valid CVV</div>
              </div><br>
              <button [disabled]="platinumpayment.invalid">Proceed</button>
          </div>
          </form>
      </div>
  </div>
  </section>
  