<section>
<div class="container">
    <div class="login">
        <div class="overlay">
            <i class="fa fa-arrow-circle-o-left"><a routerLink="/Home"> Back to Home</a></i>
            <img src="assets/Image/image2.svg" alt=""  style="width: 110%; height: 120%;">
        </div>
        <form #loginform="ngForm">
            <div class="form">
                <h1><i class="fa fa-heartbeat"></i> CHARITY MILES</h1>
                <input type="text" name="username" #uname="ngModel" [(ngModel)]="username" placeholder="Username" required pattern="^[a-z]{3,20}$"/>
                <div *ngIf="uname.errors && (uname.dirty||uname.touched)" class="msg">
                   <div [hidden]="!uname.errors['required']">Enter Username</div>
                   <div [hidden]="!uname.errors['pattern']">Enter a valid username</div>
                </div>
                <input type="password" name="password" #pass="ngModel" [(ngModel)]="password" placeholder="Password" required minlength="8"/>
                <div *ngIf="pass.errors && (pass.dirty||pass.touched)" class="msg">
                   <div [hidden]="!pass.errors['required']">Enter Password</div>
                   <div [hidden]="!pass.errors['minlength']">Enter Password with atleast 8 characters</div>
                </div>
                <button [disabled]="loginform.form.invalid" (click)="onLogin()">LOGIN</button>
                <p class="button">
                    <a routerLink="#">Forgot Password</a><br><br>
                    Don't Have an Account? <a routerLink="/Register">Register Here</a>
                </p>
            </div>
        </form>
    </div>
</div>
</section>