.container{
    margin-left: 270px;
    margin-top: 45px;
    width: 700px;
    height: 400px;
    overflow: hidden;
    box-shadow: 20px 20px 60px gray;
    position: relative;
}
.container .login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.overlay{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
}
.overlay img{
    width: 200px;
    margin: 15px 0;
}
form{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: 1s;
}
form  .form h1{
    font-size: 25px;
    color: mediumslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form .form input{
    width: 90%;
    height: 30px;
    padding: 0 5px;
    color: black;
    border: 2px solid whitesmoke;
    outline: none;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form .form input:hover{
    background-color: azure;
    border: 1px solid mediumslateblue;
}
form .form input.ng-valid{
    border: 1.5px solid lightgreen;
}
form .form button{
    border: 2px solid mediumslateblue;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
form .form button:hover{
    background-color: lightsteelblue;
}
.button{
    margin: 10px 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: gray;
}
.button a{
    text-decoration: none;
    color: mediumslateblue;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.msg{
    text-align: left;
    padding-left: 10px;
    color: red;
    font-size: 15px;
}
