<div class="container">
  <h1 class="heading">CONTACT <span> US</span></h1>
  <div class="row">
    <div class="image">
      <img src="assets/Image/contact.svg" alt="">
    </div>
    <form action="">
      <h3>Have Questions?</h3>
      <input type="text" placeholder="NAME" class="box">
      <input type="email" placeholder="EMAIL" class="box">
      <input type="text" placeholder="SUBJECT" class="box">
      <input type="message" placeholder="MESSAGE" class="box" style="height: 100px;"><br>
      <input type="submit" value="SEND" class="btn">
    </form>
  </div>
</div>