<app-Header></app-Header>
<section class="event" id="event">
  <h1 class="heading">UPCOMING<span> EVENTS</span> </h1>
    <div class="box-container">
        <div class="box">
          <div class="eventid" data-eventid="1" *ngFor="let eve of events">
            <i class="fa fa-calendar"></i><br><br>
            <h3>{{eve.evedate}}</h3>
            <h1>{{eve.event}}</h1>
            <div class="msg"><p>{{eve.message}} <i class="fa fa-dollar"></i></div>
            <a [routerLink]="['/Event',eve.id]" class="btn">View More <span class="fa fa-arrow-circle-right"></span> </a>
          </div>
        </div>
    </div>
</section>

