<header>
  <h1><img src="assets/Image/logo.png" alt="">CHARITY <span>MILES</span></h1>
  <nav class="navbar">
    <ul>
    <li><a routerLink="/Admindashboard"><i class="fa fa-home"></i> Dashboard</a></li><br>
    <li><a routerLink="/Adminevent"><i class="fa fa-calendar"></i> Events</a></li><br>
    <li><a routerLink="/AdminMembership"><i class="fa fa-users"></i> Membership</a></li><br>
    <li><a routerLink="/Adminpayment"><i class="fa fa-dollar"></i> Payment</a></li><br>
    <li><a routerLink="/Home"><i class="fa fa-arrow-circle-o-left"></i> Log out</a></li>
    </ul>
  </nav>
</header>