<header>
  <img src="assets/Image/logo.jpg" alt=""><br><br><br>
  <nav class="navbar">
    <ul>
    <li><a routerLink="/Admindashboard"><i class="fa fa-home"></i> Dashboard</a></li><br>
    <li><a routerLink="/Adminevent"><i class="fa fa-calendar"></i> Events</a></li><br>
    <li><a routerLink="/AdminAdd"><i class="fa fa-newspaper-o"></i> Advertisements</a></li><br>
    <li><a routerLink="/AdminMembership"><i class="fa fa-users"></i> Membership</a></li><br>
    <li><a routerLink="/Adminreview"><i class="fa fa-star"></i> Reviews</a></li><br>
    <li><a routerLink="/Home"><i class="fa fa-arrow-circle-o-left"></i> Log out</a></li>
    </ul>
  </nav>
</header>