section{
  padding-top: 100px;
  padding-left: 220px;
}
.container .pay{
  display: flex;
  overflow: hidden;
  box-shadow: 20px 20px 60px gray;
  position: relative;
  width: 800px;
}
.container .pay .overlay{
  position: relative;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
.container .pay .overlay img{
  width: 400px;
  height: 400px;
}
.overlay i{
  color: mediumslateblue;
  font-size: 20px;
}
.overlay a{
  text-decoration: none;
  font-size: 20px;
  color: mediumslateblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlay a:hover{
  color: gray;
}
form{
  width: 400px;
  height: 450px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: 1s;
  padding-top: 10px;
}
form .form h1{
  font-size: 25px;
  color:mediumslateblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form .form span{
  font-size: 20px;
  font-weight: 400;
  color: gray;
}
form .form img{
  width: 350px;
  height: 70px;
}
form .form input{
  width: 80%;
  height: 35px;
  padding: 0 5px;
  color: black;
  border: 2px solid whitesmoke;
  outline:none;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form .form input:hover{
  background-color: azure;
  border: 1px solid mediumslateblue;
}
form .form input.ng-valid{
  border: 1.5px solid lightgreen;
}
.error{
  color: red;
  text-align: left;
  padding-left: 40px;
}
button{
  border: 2px solid mediumslateblue;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
button:hover{
  background-color: lightsteelblue;
}