<app-Header></app-Header>
<section>
<div class="container">
    <div class="pay">
        <div class="overlay">
            <i class="fa fa-arrow-circle-o-left"><a routerLink="/Charity"> Back</a></i>
            <img src="assets/Image/Payment.svg" alt="">
        </div>
        <form [formGroup]="payment" (ngSubmit)="paymentdata(payment)">
            <div class="form">
            <h1> MAKE DONATION HERE<i class="fa fa-arrow-circle-o-down"></i></h1> 
           <!-- <h2>{{eventdate}}</h2>
            <h2>{{eventname}}</h2>-->
            <span>Cards Accepted Here</span>
            <img src="assets/Image/pay img.png" alt="">
            <input type="text" formControlName="Rs" placeholder="Enter Amount">
            <div *ngIf="payment.controls['Rs'].invalid && (payment.controls['Rs'].dirty || payment.controls['uname'].touched)">
                <div class="error" *ngIf="payment.controls['Rs'].errors?.['required']">Enter Amount</div>
                <div class="error" *ngIf="payment.controls['Rs'].errors?.['pattern']">Enter a valid amount</div>
            </div>
            <input type="text" formControlName="uname" placeholder="CardHolder Name">
            <div *ngIf="payment.controls['uname'].invalid && (payment.controls['uname'].dirty || payment.controls['uname'].touched)">
                <div class="error" *ngIf="payment.controls['uname'].errors?.['required']">Enter CardHolder Name</div>
                <div class="error" *ngIf="payment.controls['uname'].errors?.['pattern']">Enter a valid Name</div>
            </div>
            <input type="text" formControlName="cardno" placeholder="Card Number">
            <div *ngIf="payment.controls['cardno'].invalid && (payment.controls['cardno'].dirty || payment.controls['cardno'].touched)">
                <div class="error" *ngIf="payment.controls['cardno'].errors?.['required']">Enter Card Number</div>
                <div class="error" *ngIf="payment.controls['cardno'].errors?.['pattern']">Enter a valid Card No</div>
            </div>
            <input type="text" formControlName="exp" placeholder="MM/YYYY">
            <div *ngIf="payment.controls['exp'].invalid && (payment.controls['exp'].dirty || payment.controls['exp'].touched)">
                <div class="error" *ngIf="payment.controls['exp'].errors?.['required']">Enter exp month and year</div>
                <div class="error" *ngIf="payment.controls['exp'].errors?.['pattern']">Enter a valid exp month and year</div>
            </div>
            <input type="text" formControlName="cvv" placeholder="CVV">
            <div *ngIf="payment.controls['cvv'].invalid && (payment.controls['cvv'].dirty || payment.controls['cvv'].touched)">
                <div class="error" *ngIf="payment.controls['cvv'].errors?.['required']">Enter CVV</div>
                <div class="error" *ngIf="payment.controls['cvv'].errors?.['pattern']">Enter a valid CVV</div>
            </div><br>
            <button [disabled]="payment.invalid">Proceed</button>
        </div>
        </form>
    </div>
</div>
</section>
