<section>
  <div class="charity" id="charity">
      <h1 class="heading"> <span>WELCOME TO CHARITY MILES</span></h1>
      <div class="box-container">
          <div class="box">
              <img src="assets/Image/calendar.svg" alt="">
              <h3>Upcoming events</h3>
              <p>View the Upcoming events of our charity. Donate us on a particular day which you want.</p>
              <a routerLink="#" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
          <div class="box">
              <img src="assets/Image/review.svg" alt="">
              <h3>Client Review</h3>
              <p>Give us ratings and post comments for our charity. To do our service much better.</p>
              <a routerLink="#" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
          <div class="box">
              <img src="assets/Image/membership.svg" alt="">
              <h3>Charity Membership</h3>
              <p>Be a part of our charity. Let us join hands for a good things.</p>
              <a routerLink="#" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
      </div>
  </div>
</section>