<app-Header></app-Header>
<section>
<!--Charity-->
  <div class="charity" id="charity">
      <h1 class="heading">WELCOME TO<span> CHARITY MILES</span></h1>
      <div class="box-container">
          <div class="box">
              <img src="assets/Image/calendar.svg" alt=""><br>
              <h3>Upcoming events</h3>
              <p>View the Upcoming events. Donate us on a particular day which you want.<br>Event Donation</p>
              <a routerLink="/Event" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
          <div class="box">
              <img src="assets/Image/Payment.svg" alt=""><br>
              <h3>Make Donation</h3>
              <p>Without visiting our events you can do your donation here.<br>Normal Donation</p>
              <a routerLink="/Payment" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
          <div class="box">
              <img src="assets/Image/membership.svg" alt=""><br>
              <h3>Charity Membership</h3>
              <p>Be a part of our charity and gain some benefits over here. Let us join hands for a good things.</p>
              <a routerLink="/Membership" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
      </div>
  </div>
</section>
<!--Charity-->

<app-Footer></app-Footer>