 section{
    padding-top: 130px;
 }
.heading{
    text-align: center;
    color: var(--black);
    font-size: 30px;
    letter-spacing: 1px;
}
.heading span{
    color: mediumslateblue;
    font-size: 30px;
}
.charity .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap:2rem;
    padding: 20px 80px 0px 80px;
}
.charity .box-container .box{
    background: whitesmoke;
    border: 2px solid mediumslateblue;
    padding: 10px;
    height: 80%;
    width: 90%;
}
.charity .box-container .box img{
    width: 100%;
    height: 40%;   
}
.charity .box-container .box:hover img{
    transform: scale(1.2);
}
.charity .box-container .box h3{
    color: var(--black);
    font-size: 25px;
    
    padding-top: 10px;
}
.charity .box-container .box p{
    color: var(--black);
    font-size: 16px;
    line-height: 2;
}
.btn{
    text-decoration: none;
    font-size: 18px;
    color: black;
    border: 2px solid mediumslateblue;
    padding: 2.5px;
    border-radius: 1px;
}
.btn span{
    color: mediumslateblue;
}
.btn:hover{
    background-color: lightsteelblue;
    color: black;
}
.btn:hover span{
    color: black;
}


/*.review{
    padding-top: 50px;
}
.review .box-container{
    display: grid;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:3rem;
}
.review .box-container .box{
    border: 3px solid aliceblue;
    box-shadow: var(--box-shadow);
    padding: 7px;
    background: whitesmoke;
    text-align: center;
    position: relative;
    z-index: 0;
}
.review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    color:black;
    font-size: 35px;
    padding:.5rem 0;
}
.review .box-container .box .stars i{
    color: lawngreen;
    font-size: 38px;
    padding-top: 20px;
}
.review .box-container .box .stars i:hover{
    color: lightgreen;
}
.review .box-container .box .text{
    color:var(--light-color);
    line-height: 1.8;
    font-size: 16px;
    padding-top: 15px;
}
.review .box-container .box::before{
    position: absolute;
    transform:translateX(-50%);
    background:var(--mediumslateblue);
    height: 25rem;
    width: 120%;
    z-index: -1;
}
.review .rate{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}
.review .rate i{
    font-size: 30px;
}
.review .rate h3:hover{
    color: mediumslateblue;
}*/

