<app-Header></app-Header>
<section>
    <!--Charity-->
  <div class="charity" id="charity">
      <h1 class="heading"> <span>WELCOME TO CHARITY MILES</span></h1>
      <div class="box-container">
          <div class="box">
              <img src="assets/Image/calendar.svg" alt="">
              <h3>Upcoming events</h3>
              <p>View the Upcoming events of our charity. Donate us on a particular day which you want.</p>
              <a routerLink="#" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
          <div class="box">
              <img src="assets/Image/review.svg" alt="">
              <h3>Client Review</h3>
              <p>Give us ratings and post comments for our charity. To do our service much better.</p>
              <a routerLink="#" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
          <div class="box">
              <img src="assets/Image/membership.svg" alt="">
              <h3>Charity Membership</h3>
              <p>Be a part of our charity. Let us join hands for a good things.</p>
              <a routerLink="#" class="btn"> learn more <span class="fa fa-arrow-circle-right"></span></a>
          </div>
      </div>
  </div>
</section>
<!--Charity-->
<!--Events-->
<section class="event" id="event">
    <h1 class="heading"><span>UPCOMING EVENTS</span> </h1>
    <div class="box-container">
        <div class="box">
            <i class="fa fa-calendar"></i>
            <h3>12 June 2023<br>
            World Day against Child Labour</h3>
            <p>On this special day we are here to do services for peoples<br>
            Help us by denoting <i class="fa fa-dollar"></i></p><br>
            <a routerLink="#" class="btn"> DONATE NOW  <span class="fa fa-arrow-circle-right"></span> </a>
        </div>
        <div class="box">
            <i class="fa fa-calendar"></i>
            <h3>14 June 2022<br>
            Blood Donor Day</h3>
            <p>On this special day we are here to do services for peoples<br>
            Help us by denoting <i class="fa fa-dollar"></i></p><br>
            <a routerLink="#" class="btn">  DONATE NOW  <span class="fa fa-arrow-circle-right"></span> </a>
        </div>
        <div class="box">
            <i class="fa fa-calendar"></i>
            <h3>01 July 2023<br>
            National Doctor's Day</h3>
            <p>On this special day we are here to do services for peoples<br>
            Help us by denoting <i class="fa fa-dollar"></i></p><br>
            <a routerLink="#" class="btn">DONATE NOW  <span class="fa fa-arrow-circle-right"></span> </a>
        </div>
        <div class="box">
            <i class="fa fa-calendar"></i>
            <h3>15 August 2023<br>
            Independence day</h3>
            <p>On this special day we are here to do services for peoples<br>
            Help us by denoting <i class="fa fa-dollar"></i></p><br>
            <a routerLink="#" class="btn">DONATE NOW  <span class="fa fa-arrow-circle-right"></span> </a>
        </div>
        <div class="box">
            <i class="fa fa-calendar"></i>
            <h3>25 September 2023<br>
            Social Justice</h3>
            <p>On this special day we are here to do services for peoples<br>
            Help us by denoting <i class="fa fa-dollar"></i></p><br>
            <a routerLink="#" class="btn">DONATE NOW  <span class="fa fa-arrow-circle-right"></span> </a>
        </div>
        <div class="box">
            <i class="fa fa-calendar"></i>
            <h3>29 September 2023<br>
            World Heart Day</h3>
            <p>On this special day we are here to do services for peoples<br>
            Help us by denoting <i class="fa fa-dollar"></i></p><br>
            <a routerLink="#" class="btn">DONATE NOW  <span class="fa fa-arrow-circle-right"></span> </a>
        </div>
    </div>
</section>
<!--Events-->
<!--Review-->
<section class="review" id="review">
    <h1 class="heading"><span>CLIENT'S REVIEW</span> </h1>
    <div class="box-container">
        <div class="box">
            <img src="assets/Image/users.png" alt="">
            <h3>john</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p class="text">Your Service is very useful for us. 
                By your help we get statisfied and lead our lives happy.
                Keep doing this service forever</p>
        </div>
        <div class="box">
            <img src="assets/Image/users.png" alt="">
            <h3>Shyam</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p class="text">Thank you for your help. 
                We are very much happy by your food donating process.
                This food are healthy and tasty.
            </p>
        </div>
        <div class="box">
            <img src="assets/Image/users.png" alt="">
            <h3>Helana</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <p class="text">By your services we are very inspired.
                We like to join in this charity to do services.
                What is the procedure to join in your charity membership.
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="rate">
        <h3>Click here to give your review and rating<br>
        <i class="fa fa-arrow-down"></i></h3>
        <a routerLink="/rating" class="btn">REVIEW HERE  <span class="fa fa-arrow-circle-right"></span></a>
    </div>
</section>
<!--Review-->
<app-Footer></app-Footer>