
.heading{
  text-align: center;
  color: var(--black);
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 100px;
}
.heading span{
  color: mediumslateblue;
  font-size: 30px;
}
.offer{
  text-align: center;
  margin-left: 380px;
  border: 1px solid lightgreen;
  width: 40%;
}
.offer h1{
  color: hotpink;
}
.offer h3{
  font-size: 18px;

}
.content{
  display: flex;
  width: 1000px;
  gap: 30px;
  margin-left: 190px;
}
.content .overlay{
  position: relative;
  justify-content: center;
  text-align: center;
}
.content .overlay img{
  height: 450px;
  width: 450px;
}
.overlay i{
  color: mediumslateblue;
  font-size: 20px;
}
.overlay a{
  text-decoration: none;
  font-size: 20px;
  color: mediumslateblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlay a:hover{
  color: gray;
}
.detail{
  width: 500px;
  height: 500px;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}
.detail h2{
  font-size: 22px;
  color: gray;
}
.detail h2 i{
  color: mediumslateblue;
  font-size: 25px;
}
.detail h1{
  font-size: 22px;
  color: mediumslateblue;
}
.detail p{
  font-size: 20px;
}
.detail p i{
  color: mediumslateblue;
  font-size: 22px;
}
.detail h4{
  font-size: 16px;
  text-align: justify;
}
.detail h4 i{
  color: mediumslateblue;
  font-size: 22px;
}
.instructions{
  margin-left: 220px;
  margin-right: 220px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid mediumslateblue;
  background-color: whitesmoke;
  padding: 20px;
}
.instructions h1{
  font-size: 25px;
  font-weight: 500px;
  text-transform: uppercase;
  color: mediumslateblue;
}
.instructions p{
  font-size: 16px;
}
.membershiptype{
  padding-bottom: 60px;
}
.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap:2rem;
  padding-left:80px;
  padding-right: 80px;
  padding-top: 30px;
}
.box-container .box{
  background: white;
  border: 2.5px solid whitesmoke;
  padding: 10px;
  height: 100%;
  width: 90%;
}
.box-container .box:hover{
  border: 2px solid mediumslateblue;
  background-color: whitesmoke;
}
.box-container .box img{
  width: 50%;
  height: 50%; 
  text-align: center;  
  margin-left: 60px;
  padding-bottom: 20px;
}
.box-container .box:hover img{
  transform: scale(1.2);
}
.box-container .box h3{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-container .box h3 span{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  color: mediumslateblue;
}
.btn{
  text-decoration: none;
  font-size: 18px;
  color: black;
  border: 2px solid mediumslateblue;
  padding: 2.5px;
  border-radius: 1px;
  margin-left: 520px;
  margin-top: 20px;
}
.btn i{
  color: mediumslateblue;
}
.btn:hover{
  background-color: lightsteelblue;
  color: black;
}
.btn:hover span{
  color: black;
}
