<div class="container">
  <form action="/CHARITY/Membership form/result.html" >
      <div class="row">
          <div class="col">
              <h3 class="title">Membership Form</h3>
              <div class="inputBox">
                  <span>Name :</span>
                  <input type="text" required>
              </div>
              <div class="inputBox">
                  <span>email :</span>
                  <input type="email" required>
              </div>
              <div class="inputBox">
                  <span>Mobile :</span>
                  <input type="text" required>
              </div>
              <div class="inputBox">
                  <span>address :</span>
                  <input type="text" required>
              </div>
              <div class="inputBox">
                  <span>state :</span>
                  <input type="text" required>
              </div>
              <div class="inputBox">
                  <span>District :</span>
                  <input type="text" required>
              </div>
              <div class="inputBox">
                  <span>zip code :</span>
                  <input type="text" required>
              </div>
          </div>
          <div class="col">
              <h3 class="title">Monthly Investment</h3>
              <div class="flex">
              <div class="inputBox">
                  <span>Minimum :</span>
                  <input type="number" required>
              </div>
              <div class="inputBox">
                  <span>Maximum :</span>
                  <input type="number" required>
              </div>
              </div>
              <div class="inputbox">
                  <span>Membership Type</span><br>
                  <input type="radio" id="platinum" name="member" value="Platinum">
                  <label for="Platinum">Platinum INR 5000</label><br>
                  <input type="radio" id="gold" name="member" value="Gold">
                  <label for="gold">Gold INR 3000</label><br>
                  <input type="radio" id="silver" name="member" value="silver">
                  <label for="silver">Silver INR 1000</label>
              </div><br>
              <h3 class="title">payment</h3>
              <div class="inputBox">
                  <span>card Name :</span>
                  <input type="text" required>
              </div>
              <div class="inputBox">
                  <span>card number :</span>
                  <input type="number" required>
              </div>
              <div class="inputBox">
                  <span>exp year :</span>
                  <input type="number" required>
              </div>
              <div class="flex">
                  <div class="inputBox">
                      <span>exp month :</span>
                      <input type="number" required>
                  </div>
              <div class="inputBox">
                  <span>CVV :</span>
                  <input type="password" required>
              </div>
          </div>   
      </div>
      <button>SUBMIT</button>
  </div>
  </form>