.content{
    margin-left: 250px;
}
.heading h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: mediumslateblue;
}
.heading h1 i{
    font-size: 20px;
    color: black;
}
.heading h3{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.box-content{
    display: flex;  
    padding-bottom: 30px;
}
.box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    text-align: center;
    border: 2px solid mediumslateblue;
    margin: 20px;
    padding: 10px;
}
.box h1{
    color: mediumslateblue;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}
.box p{
    font-size: 18px;
    letter-spacing: 1px;
}
