<app-Adminheader></app-Adminheader>
<app-AdminProfile></app-AdminProfile>
<div class="content">
    <div class="heading">
        <h1><i class="fa fa-users"></i>  Members of Charity Miles</h1>
        <h3>Platinum Member</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Paid</th>  
                    <th scope="col">Validity</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Membership Expiry date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let platinum of platinummembership">
                    <td>{{platinum.uname}}</td>
                    <td>999</td>
                    <td *ngFor="let validity of validity">{{validity.validity}}</td>
                    <td>{{platinum.date}}</td>
                    <td>{{platinum.ed}}</td>
                </tr>
            </tbody>
        </table>
        <h3>Gold Member</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Membership Expiry date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gold of goldmembership">
                    <td>{{gold.uname}}</td>
                    <td>699</td>
                    <td *ngFor="let goldvalidity of goldvalidity">{{goldvalidity.validity}}</td>
                    <td>{{gold.date}}</td>
                    <td>{{gold.ed}}</td>
                </tr>
            </tbody>
        </table>
        <h3>Silver Member</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Membership Expiry date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let silver of silvermembership">
                    <td>{{silver.uname}}</td>
                    <td>399</td>  
                    <td *ngFor="let silvervaliditiy of silvervalidity">{{silvervaliditiy.validity}}</td>
                    <td>{{silver.date}}</td>
                    <td>{{silver.ed}}</td>
                </tr>
            </tbody>
        </table>
    </div>