<app-Adminheader></app-Adminheader>
<app-AdminProfile></app-AdminProfile>
<div class="content">
    <div class="heading">
        <h1><i class="fa fa-users"></i>  Members of Charity Miles</h1>
        <h3>Platinum Member</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Paid</th>  
                    <th scope="col">Validity</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Membership Expiry date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pmem of membership">
                    <td>{{pmem.uname}}</td>
                    <td>999</td>
                    <td *ngFor="let val of validity">{{val.validity}}</td>
                    <td>{{pmem.sd}}</td>
                    <td>{{pmem.ed}}</td>
                </tr>
            </tbody>
        </table>
        <h3>Gold Member</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Membership Expiry date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gmem of gmembership">
                    <td>{{gmem.uname}}</td>
                    <td>699</td>
                    <td *ngFor="let gval of gvalidity">{{gval.validity}}</td>
                    <td>{{gmem.sd}}</td>
                    <td>{{gmem.ed}}</td>
                </tr>
            </tbody>
        </table>
        <h3>Silver Member</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Membership Expiry date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let smem of smembership">
                    <td>{{smem.uname}}</td>
                    <td>399</td>  
                    <td *ngFor="let sval of svalidity">{{sval.validity}}</td>
                    <td>{{smem.sd}}</td>
                    <td>{{smem.ed}}</td>
                </tr>
            </tbody>
        </table>
    </div>