section{
    padding-top: 85px;
}
/*-----Home------*/
.home{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    
}
.home .image{
    flex: 300px;
    padding-left: 50px;
}
.home .image img{
    width: 120%;
}
.home .content{
    flex: 300px;
    padding-left: 40px;
}
.home .content h3{
    align-items: center;
    font-size: 25px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mediumslateblue;
    line-height: 1.8;
}
.home .content p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-shadow: 2px 2px 2px lightslategray;
    line-height: 1.8;
    padding: 7px 0;
    padding-left: 50px;
}

.btn{
    display: inline-block;
    margin-top: 7px;
    margin-left: 100px;
    text-decoration: none;
    padding: 2.5px;
    color: var(--black);
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    color:black;
    border: 2px solid mediumslateblue;
    border-radius: 1px;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
.btn span{
    color: mediumslateblue;
    margin-left: .5rem;
}
.btn:hover{
    color: black;
    background-color: lightsteelblue;
}
.btn:hover span{
    color: black;
}
.heading{
    text-align: center;
    color: var(--black);
    font-size: 30px;
    letter-spacing: 1px;
}
.heading span{
    color: mediumslateblue;
    font-size: 30px;
}
/*-----Home------*/



/*-----Services------*/
.service{
    padding-top: 50px;
}
.service .content1{
    display: flex;
}
.service .content1 .flex{
    display: flex;
    width: 40%;
    height: 20%;
    margin-top: 30px;
    margin-left: 90px;
    margin-bottom: 20px;
    border: 2px solid mediumslateblue;
}
.service .content1 .flex img{
    width: 40%;
    height: 40%;
}
.service .content1 .flex h3{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.service .content2{
    display: flex;
}
.service .content2 .flex{
    display: flex;
    width: 40%;
    height: 20%;
    margin-top: 30px;
    margin-left: 90px;
    margin-bottom: 20px;
    border: 2px solid mediumslateblue;
}
.service .content2 .flex img{
    width: 40%;
    height: 40%;
}
.service .content2 .flex h3{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.service .content2 .flex:hover{
    background-color:whitesmoke;
    border: 2px solid aliceblue;
}
.service .content1 .flex:hover{
    background-color:whitesmoke;
    border: 2px solid aliceblue;
}

/*-----Services------*/

/*-----Images-----*/
.gallery{
    padding-top: 30px;
}
div.scroll-container {
   
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
div.scroll-container img {
   padding: 10px;
}
/*-----Images-----*/

/*-----Image-------*/
.img{
    padding: 50px;
    text-align: center;
}
/*-----Image-------*/
