<!--Header-->
<app-Header></app-Header>
<!--Header-->

<section>
<!--Home-->
<h4 style="text-align: center;font-size: 18px;border: 1.5px solid gainsboro; padding: 5px; margin-left: 10px; margin-right:10px ;">Offer Available for Membership <a routerLink="/Membership" style=" color:mediumslateblue; text-decoration: underline;">click here</a></h4>
<div class="home">
  <div class="image">
      <img src="assets/Image/home1.png" alt="">
  </div>
  <div class="content">
      <div class="content">
          <h3>YOUR GREATNESS IS NOT WHAT<br> YOU HAVE,
              IT'S WHAT YOU GIVE</h3>
          <p>It's not how much we give but how<br> much love we put into giving ..........</p>
         <!-- <a routerLink="" class="btn">Explore<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a>-->
      </div>
  </div>
</div>
<!--Home-->

<!--Services-->
<div class="service" id="service">
    <h1 class="heading">OUR <span>SERVICES</span></h1>
    <div class="content1">
        <div class="flex">
        <img src="assets/Image/service1.png" alt="">
        <h3>Providing Healthy Food<br>
        Raising fund to give healthy food for people and children Donations of non-perishable food items are always welcome.
         </h3>
        </div>
        <div class="flex">
        <img src="assets/Image/service2.png" alt="">
        <h3>Education for Poor People<br>
        Education directly correlates with many solutions to poverty, including Economic growth. So we taking care of many children</h3>
        </div>
    </div>
        <div class="content2">
        <div class="flex">
        <img src="assets/Image/service3.png" alt="">
        <h3>Providing Medical Expenses<br>
        Taking care of medical expenses of poor and diabled people. Providing medicine, food, bed, wheelchairs to patients</h3>
        </div>
        <div class="flex">
        <img style="padding: 10px;padding-top: 20px;" src="assets/Image/slide1.jpg" alt="">
        <h3>Huge Help to Homeless People<br>
        They can't change their lives without you. Good things happen to you when you do good for others. We do services for homeless people</h3>
        </div>
    </div>
</div>
<!--Services-->

<!--Images-->
<div class="gallery">
    <h1 class="heading">GALL<span>ERY</span></h1>
<div class="scroll-container">
    <img src="assets/Image/slide1.jpg" alt="" width="650" height="450">
    <img src="assets/Image/slide2.jpg" alt="" width="650" height="450">
    <img src="assets/Image/slide3.jpg" alt="" width="650" height="450">
    <img src="assets/Image/slide4.jpg" alt="" width="650" height="450">
    <img src="assets/Image/slide5.jpg" alt="" width="650" height="450">
</div>
</div>
<!--Images-->

<!--Image-->
<div class="img">
<img src="assets/Image/home2.jpg" alt="">
</div>
<!--Image-->
</section>

<!--Footer-->
<app-Footer></app-Footer>
<!--Footer-->