section{
    padding-top: 85px;
}
/*-----Home------*/
.home{
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
}
.home .image{
    flex: 300px;
}
.home .image img{
    width: 100%;
}
.home .content{
    flex: 300px;
}
.home .content h3{
    align-items: center;
    font-size: 25px;
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: mediumslateblue;
    line-height: 1.8;
}
.home .content p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-shadow: 2px 2px 4px lightslategray;
    line-height: 1.8;
    padding: 7px 0;
}
.btn{
    display: inline-block;
    margin-top: 7px;
    text-decoration: none;
    padding: 5px;
    color: var(--black);
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    color: mediumslateblue;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}
.btn span{
    color: mediumslateblue;
    margin-left: .5rem;
}
.btn:hover{
    color: black;
    background-color: lightsteelblue;
}
.btn:hover span{
    color: black;
}
.heading{
    text-align: center;
    color: var(--black);
    font-size: 30px;
    letter-spacing: 1px;
}
.heading span{
    color: mediumslateblue;
    font-size: 30px;
}
/*-----Home------*/

/*-----Services------*/
.service{
    padding-top: 85px;
}
.service .content1{
    text-align: left;
    margin-top: 40px;
    margin-left: 120px;
    border: 2px solid mediumslateblue;
    background-color: whitesmoke;
    margin-bottom: 15px;
    width: 40%;
}
.service .flex{
    display: flex;
}
.service .flex img{
    width: 20%;
    height: 30%;
}
.service .flex h3{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}
.service .content2{
    text-align: left;
    margin-left: 600px;
    border: 2px solid mediumslateblue;
    background-color: whitesmoke;
    margin-bottom: 15px;
    width: 40%;
}
.service .content3{
    text-align: left;
    margin-left: 120px;
    border: 2px solid mediumslateblue;
    background-color: whitesmoke;
    margin-bottom: 15px;
    width: 40%;
}
.service .content4{
    text-align: left;
    margin-left: 600px;
    border: 2px solid mediumslateblue;
    background-color: whitesmoke;
    margin-bottom: 15px;
    width: 40%;
}
.service .content1:hover{
    background-color: aliceblue;
    border: 2px solid gray;
    padding-left: 20px;
}
.service .content2:hover{
    background-color: aliceblue;
    border: 2px solid gray;
    padding-left: 20px;
}
.service .content3:hover{
    background-color: aliceblue;
    border: 2px solid gray;
    padding-left: 20px;
}
.service .content4:hover{
    background-color: aliceblue;
    border: 2px solid gray;
    padding-left: 20px;
}
/*-----Services------*/

/*-----Image-------*/
.img{
    text-align: center;
   
}
/*-----Image-------*/