<app-Header></app-Header>
<section>
<div class="home">
  <div class="image">
      <img src="assets/Image/home1.png" alt="">
  </div>
  <div class="content">
      <div class="content">
          <h3>YOUR GREATNESS IS NOT WHAT YOU HAVE,<br>
              IT'S WHAT YOU GIVE</h3>
          <p>Providing service and extending charity<br> 
              toward others helps us overcome our own <br>
              difficulties and makes them seem less challenging</p>
          <a routerLink="/Payment" class="btn">DONATE NOW<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a>
      </div>
  </div>
</div>

<div class="services" id="services">
<h1 class="heading">OUR <span>SERVICES</span></h1>
<div class="box-container">
<div class="box">
    <div class="image">
        <img src="assets/Image/home3.jpg" alt="">
    </div>
    <h3>Providing Healthy Food</h3>
    <p>Raising fund to give healthy food for people and children</p>
   
</div>
<div class="box">
    <div class="image">
        <img src="assets/Image/home4.jpg" alt="">
    </div>
    <h3>Education for Poor People</h3>
    <p>Education directly correlates with many solutions to poverty, including Economic growth </p>
 
</div>
<div class="box">
    <div class="image">
        <img src="assets/Image/home5.jpg" alt="">
    </div>
    <h3>Providing Medical Expenses</h3>
    <p>Taking care of medical expenses of poor people and diabled people and Providing medicine, food, bed, wheelchairs to patients</p>
  
</div>
<div class="box">
  <div class="image">
      <img src="assets/Image/home6.jpg" alt="">
  </div>
  <h3>Huge Help to Homeless People</h3>
          <p>They can't change their lives without you. Good things happen to you when you do good for others.
          </p> 

</div>
</div>
<div class="img">
<img src="assets/Image/home2.jpg" alt="">
</div>
</div>
</section>
<app-Footer></app-Footer>