<!--Header-->
<app-Header></app-Header>
<!--Header-->

<section>
<!--Home-->
<div class="home">
  <div class="image">
      <img src="assets/Image/home1.png" alt="">
  </div>
  <div class="content">
      <div class="content">
          <h3>YOUR GREATNESS IS NOT WHAT YOU HAVE,<br>
              IT'S WHAT YOU GIVE</h3>
          <p>Providing service and extending charity<br> 
              toward others helps us overcome our own <br>
              difficulties and makes them seem less challenging</p>
          <a routerLink="/Payment" class="btn">DONATE NOW<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a>
      </div>
  </div>
</div>
<!--Home-->

<!--Services-->
<div class="service" id="service">
    <h1 class="heading">OUR <span>SERVICES</span></h1>
    <div class="content1">
        <div class="flex">
        <img src="assets/Image/service1.png" alt="">
        <h3>Providing Healthy Food<br>
        Raising fund to give healthy food for people and children</h3>
        </div>
    </div>
    <div class="content2">
        <div class="flex">
        <img src="assets/Image/service2.png" alt="">
        <h3>Education for Poor People<br>
        Education directly correlates with many solutions to poverty, including Economic growth</h3>
        </div>
    </div>
    <div class="content3">
        <div class="flex">
        <img src="assets/Image/service3.png" alt="">
        <h3>Providing Medical Expenses<br>
        Taking care of medical expenses of poor and diabled people. Providing medicine, food, bed, wheelchairs to patients</h3>
        </div>
    </div>
    <div class="content4">
        <div class="flex">
        <img src="assets/Image/service4.png" alt="">
        <h3>Huge Help to Homeless People<br>
        They can't change their lives without you. Good things happen to you when you do good for others.</h3>
        </div>
    </div>
</div>
<!--Services-->

<!--Image-->
<div class="img">
<img src="assets/Image/home2.jpg" alt="">
</div>
<!--Image-->
</section>

<!--Footer-->
<app-Footer></app-Footer>
<!--Footer-->