<form [formGroup]="registration" (ngSubmit)="onSubmit()">
  <input type="text" id="username" formControlName="username" placeholder="Username" />
  <input type="email" id="email" formControlName="email" placeholder="Email" />
  <input type="text" id="mobile" formControlName="mobile" placeholder="Mobile No" />
  <input type="password" id="password" formControlName="password" placeholder="Password" />
  <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"/>
  <div *ngIf="registration.hasError('mismatch')">
    Passwords do not match.
  </div>

  <button type="submit" [disabled]="registration.invalid">Register</button>
</form>