<div class="container">
  <div class="reg">
    <div class="overlay">
      <i class="fa fa-arrow-circle-o-left"><a routerLink="/Login"> Back to Login</a></i>
      <img src="assets/Image/image2.svg" alt="" style="width: 110%; height: 120%;">
    </div>
    <form #registerForm="ngForm" (submit)="Form()">
      <div class="form">
        <h1><i class="fa fa-heartbeat"></i> CHARITY MILES</h1>
        <input type="text" name="username" #uname="ngModel" [(ngModel)]="username" placeholder="Username" required pattern="^[a-z]{3,20}$">
        <div *ngIf="uname.errors && (uname.dirty||uname.touched)" class="msg">
          <div [hidden]="!uname.errors['required']">Enter Username</div>
          <div [hidden]="!uname.errors['pattern']">Enter a valid username</div>
        </div>
        <input type="email" name="email" #emailid="ngModel" [(ngModel)]="email" placeholder="Email" required 
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <div *ngIf="emailid.errors && (emailid.dirty||emailid.touched)" class="msg">
          <div [hidden]="!emailid.errors['required']">Enter your email</div>
          <div [hidden]="!emailid.errors['pattern']">Enter a valid email</div>
        </div>
        <input type="number" name="mobile" #mobileno="ngModel" [(ngModel)]="mobile" placeholder="Mobile no" required pattern="^[6-9]\d{9}$">
        <div *ngIf="mobileno.errors && (mobileno.dirty||mobileno.touched)" class="msg">
          <div [hidden]="!mobileno.errors['required']">Enter your mobile number</div>
          <div [hidden]="!mobileno.errors['pattern']">Enter a valid number</div>
        </div>
        <input type="password" name="password" #pass="ngModel" [(ngModel)]="password" placeholder="Password" required minlength="8"/>
        <div *ngIf="pass.errors && (pass.dirty||pass.touched)" class="msg">
          <div [hidden]="!pass.errors['required']">Enter Password</div>
          <div [hidden]="!pass.errors['minlength']">Enter Password with atleast 8 characters</div>
        </div>
        <input type="password" name="confirmpassword" #cpass="ngModel" [(ngModel)]="confirmpassword" placeholder="Confirm Password" required/>
        <div *ngIf="cpass.errors && (cpass.dirty||cpass.touched)" class="msg">
          <div [hidden]="!cpass.errors['required']">Confirm your Password</div>
          <div [hidden]="!cpass.errors['ConfirmedValidator']">Password doesn't match</div>
        </div>
        <button [disabled]="registerForm.form.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>